body {
  margin: 0;
  background-color: #f7f7f7;
}

header {
  background: #fff;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.06);

  h1 {
    margin: 0;
    padding: 10px;
    color: #e40030;
    font-size: 25px;
  }
}
